body {
    background-color: #e4edb5;
}

#flower {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50% -50%);
 width: 50%;
}

.circle {
    background-image: radial-gradient(brown 20%, transparent 20%);
    background-color: #592d0d;
    background-position: 0 0, 50px 50px;
    background-size: 22px 22px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    bottom: 120px;
    border: 10px brown solid;
}

.petal1 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;  
    background:linear-gradient(#ffff07, #FFFF80);
    width: 50px;
    height: 150px;
    position: relative;
    bottom: 165px;
    left: 10px;
    transform: rotate(-8deg);
}

.petal2 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);yellow;
    width: 50px;
    height: 150px;
    position: relative;
    left: 95px;
    bottom: 315px;
    transform: rotate(29deg);
}

.petal3 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);;
    width: 50px;
    height: 150px;
    position: relative;
    left: 160px;
    bottom: 425px;
    transform: rotate(66deg);
}

.petal4 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);;
    width: 50px;
    height: 150px;
    position: relative;
    left: 170px;
    bottom: 520px;
    transform: rotate(90deg);
}

.petal5 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);;
    width: 50px;
    height: 150px;
    position: relative;
    left: 145px;
    bottom: 613px;
    transform: rotate(127deg);
}

.petal6 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);;
    width: 50px;
    height: 150px;
    position: relative;
    left: 80px;
    bottom: 730px;
    transform: rotate(160deg);
}

.petal7 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);;
    width: 50px;
    height: 150px;
    position: relative;
    left: 15px;
    bottom: 891px;
    transform: rotate(180deg);
}

.petal8 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);;
    width: 50px;
    height: 150px;
    position: relative;
    right: 55px;
    bottom: 1084px;
    transform: rotate(210deg);
}

.petal9 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);;
    width: 50px;
    height: 150px;
    position: relative;
    right: 108px;
    bottom: 1310px;
    transform: rotate(240deg);
}

.petal10 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);;
    width: 50px;
    height: 150px;
    position: relative;
    right: 116px;
    bottom: 1570px;
    transform: rotate(275deg);
}

.petal11 {
    border: 10px solid rgb(199, 199, 33);
    border-bottom-left-radius: 5000px;
    border-top-right-radius: 5000px;
    background: linear-gradient(#ffff07, #FFFF80);ellow;
    width: 50px;
    height: 150px;
    position: relative;
    right: 81px;
    bottom: 1821px;
    transform: rotate(312deg);
}

.stern {
    height: 400px;
    width: 40px;
    background-color: green;
    border: 10px solid rgb(1, 51, 1);
    position: relative;
    bottom: 100px;
    left: 30px;
    overflow: hidden;
    z-index: -1;
}

.leaf {
    width: 150px;
    height: 150px;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
    background-color: green;
    border: 10px solid rgb(1, 51, 1);
    position: relative;
    bottom: 400px;
    right: 140px;
  }

  .pot {
      height: 300px;
      width: 300px;
      background-color: rgb(88, 38, 9);
      clip-path: polygon(1% 0, 100% 0, 83% 100%, 17% 100%);
      position: relative;
      bottom: 300px;
      right: 85px;
  }

  .pot-top {
    height: 40px;
    width: 400px;
    background-color: rgb(88, 38, 9);
    border: 5px solid rgb(39, 13, 3);
    position: relative;
    bottom: 600px;
    right: 140px;
}
.petal1:hover{

    height: 155px;
    width: 55px;
}
.petal2:hover{

    height: 155px;
    width: 55px;
}
.petal3:hover{

    height: 155px;
    width: 55px;
}
.petal4:hover{

    height: 155px;
    width: 55px;
}
.petal5:hover{

    height: 155px;
    width: 55px;
}
.petal6:hover{

    height: 155px;
    width: 55px;
}
.petal7:hover{

    height: 155px;
    width: 55px;
}
.petal8:hover{

    height: 155px;
    width: 55px;
}
.petal9:hover{

    height: 155px;
    width: 55px;
}
.petal10:hover{

    height: 155px;
    width: 55px;
}
.petal11:hover{

    height: 155px;
    width: 55px;
}